{% extends "layout.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>{{contentTle}}</h1>
<table border="1" style="width:600px; border-collapse: collapse;">
    <thead>
    <tr>
        <th>No Induk</th>
        <th>Name</th>
        <th>Address</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="5">Data is empty</td>
    </tr>
    </tbody>
</table><br>
<a href="/insert">Add Data</a>
{% endblock %}