{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>{{contentTle}}</h1>
<form method="post">
    <input type="text" value="{{ data.no_induk }}" name="no_induk" id="no_induk" {{disabled}} placeholder="No Induk"><br>
    <input type="text" value="{{ data.name }}" name="name" id="name" placeholder="Name"><br>
    <textarea name="address" id="address" placeholder="address">{{ data.address }}</textarea><br>
    <input type="submit" value="Save">
</form>
{% endblock %}