{% extends "layout.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>{{contentTle}}</h1>
<table border="1" style="width:600px; border-collapse: collapse;">
    <thead>
    <tr>
        <th>No Induk</th>
        <th>Name</th>
        <th>Address</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    <tr>
        <td>{{ d.no_induk }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.address }}</td>
        <td><a href="/update/{{ d.id }}">Edit</a></td>
        <td><a href="/delete/{{ d.id }}" onclick="return confirm("Yakin ?")">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table><br>
<a href="/insert">Add Data</a>
{% endblock %}